{# Styles und Javascript #}
{% if anchor %}
    <script type='text/javascript'>
        window.location = '#{{ anchor }}';
        window.onload = init;
        function init(){
            var anchor = document.getElementById("{{ anchor }}");
            anchor.style.padding = "1vh 1vw";
            anchor.style.backgroundColor = "rgb(53, 83, 134)";
            anchor.style.borderWidth = "6px";
            anchor.style.borderColor = "white";
            anchor.style.borderRadius = "6px";
            var a = document.createElement('a');
            a.setAttribute('href', "{{ link }}");
            a.innerHTML = "<b>Volltext</b>";
            a.style.padding = "2vh 2vw";
            a.style.margin = "0 2vw 2vh";
            a.style.backgroundColor = "rgb(53, 83, 134)";
            a.style.borderWidth = "6px";
            a.style.borderColor = "white";
            a.style.borderRadius = "6px";
            anchor.after(a)
        }
    </script>
{% endif %}

{% load static %}
<link rel="stylesheet" href="{% static 'GUI/style.css' %}">
<link rel="shortcut icon" type="image/jpg" href="{% static 'GUI/images/Immanuel_Kant.jpg' %}" >
<meta name="description" content="Webseite zur Semantischen Suche in philosophischen Texten anhand von Kants Gesamtwerk mithilfe von Transformer Modellen. Suchergebnis zu „{{ begriff }}“">
<meta name="keywords" content="In Medias Res, Semantische Suche, Immanuel Kant, Gesamtwerk, Transformer, Suchergebnis, „{{ begriff }}“">
<meta name="author" content="Svenja Wagner">

{# Header und Navigation #}
<div class="header">
    <div>
        <h1><a href="{% url 'index' %}">In Medias Res</a></h1>
        <h2>Semantische Suche für das Gesamtwerk Immanuel Kants</h2>
    </div>
    <a href="{% url 'index' %}"><img src="/static/GUI/images/Kant.svg" alt="Konterfei Immanuel Kants"></a>
</div>
<nav class="header"><a id="header-image" href="{% url 'index' %}"><img src="/static/GUI/images/Kant.svg" alt="Konterfei Immanuel Kants"></a><a href="{% url 'suche' %}">Zur Suche</a><a href="{% url 'hintergrund' %}">Hintergrund</a><a
        href="{% url 'dank' %}">Danksagung</a></nav>
        
{# Content #}
<div class="inner" id="content">
    {# Erklärung zum Suchbegriff #}
    <div>
        <h3>Suchanfrage: „{{ begriff }}“</h3>
        <p>Die Sucheingabe ähnelt nach meinen Berechnungen am ehesten Bereichen in Band {{ band }}.</p>
    </div>

    {# Ergebnistext #}
    <div class="box suchergebnis">
        {{ text|safe }}
    </div>
</div>

{# Footer #}
<div class="footer"><a href="{% url 'datenschutz' %}">Datenschutz</a></div>