{# Styles und Javascript #}
{% load static %}
<link rel="stylesheet" href="{% static 'GUI/style.css' %}">
<link rel="shortcut icon" type="image/jpg" href="{% static 'GUI/images/Immanuel_Kant.jpg' %}" >

{# Header und Navigation #}
<h1><a href="{% url 'index' %}">In Medias Res</a></h1>
<hr>
<div><a href="{% url 'dank' %}">Danksagung</a></div>
<hr>

{# Content #}
<div>
    {# Suchform #}
    <form action="{% url 'ergebnisse' %}" method="post">
        
        <fieldset>
            <legend>
                <h1>Wonach möchten Sie suchen?</h1>
            </legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <input type="text" id="suchbegriff" name="suchbegriff" value="begriff">
        </fieldset>
        <input type="submit" value="Suche starten!">
    </form>
</div>

{# Footer #}
<hr>
<div><a href="{% url 'datenschutz' %}">Datenschutz</a></div>